<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jd.chat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/nlogo"	
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
<activity android:name="com.jd.quickChat.Splash"  android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>        
        
    
<activity android:name="com.jd.quickChat.ListOfFriends" android:screenOrientation="portrait">
</activity>
	
<service android:name="com.jd.quickChat.server.MessagingService"></service>
	
<activity android:name="com.jd.quickChat.LoggingIn"  android:screenOrientation="portrait">

</activity>

		
<activity android:name="com.jd.quickChat.PerformingMessaging"  android:screenOrientation="portrait">
</activity>


		
<activity android:name="com.jd.quickChat.SigningUp" android:screenOrientation="portrait"></activity>

<activity android:name="com.jd.image.Download" android:screenOrientation="portrait">
</activity>

<activity android:name="com.jd.quickChat.UserLocation" android:screenOrientation="portrait">
</activity>

<activity android:name="com.jd.quickChat.ViewFeed" android:screenOrientation="portrait">
</activity>

<activity android:name="com.jd.image.Main" android:screenOrientation="portrait">
</activity>

<activity android:name="com.jd.image.UploadActivity" android:screenOrientation="portrait">
</activity>
	
<activity android:name="com.jd.quickChat.FriendAdder" android:screenOrientation="portrait">
</activity>

<activity android:name="com.jd.quickChat.WaitingListFriends" android:screenOrientation="portrait">
</activity>


</application>


</manifest>

